PORT=5000
MONGO_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/batilink
JWT_SECRET=votre_jwt_secret_fort_ici
CLIENT_URL=https://www.byh-cm.com
EMAIL_USER=votre_email@brevo.com
EMAIL_PASS=votre_cle_brevo
ADMIN_SECRET_KEY=votre_cle_admin_secrete
RECAPTCHA_SECRET_KEY=votre_cle_recaptcha
GOOGLE_MAPS_API_KEY=votre_cle_google_maps
MESOMB_APP_KEY=votre_app_key_mesomb
MESOMB_ACCESS_KEY=votre_access_key_mesomb
MESOMB_SECRET_KEY=votre_secret_key_mesomb
